<!DOCTYPE html>
<html>
<head>

<title>About me</title>
</head>
<body>

	<h1><i><h1 style="color:blue">Learn more about me......</i></h1>
	<ii><h1 style="text-align:center">
	<p style="color:red">My name is Parminder Singh. I am a 20 year old programmer. I am currently studying at Universiti Teknologi Petronas. My hobbies include football,browsing the net and also reading. I love watching movies that have both powerful storyline and emotions. My favourite actor is Shah Rukh Khan. My favourite drink is Kikapoo and Apple Juice. My favourite food is Mee Goreng Mamak.</p>
	<a href="/">Home Page</a>
<style> 
body {background-color:lightgreen}
h1   {color:white}
</style>
</head>
</body>

</html>