<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

	<style type="text/css">

	</style>
</head>
<body>
	<h1 id="header" style="font-family:verdana" align="center">My home page</h1>
	<ii><h1 style="text-align:center">
	<h1 style="">Welcome to my home page, please select the option below to the next page</h1>
 		
	<form>
  <div class="TEdit" id="Edit1" style="position: absolute; left: 900px; below:  
  100px;">
  	<a href="/login" class="link">Login</a><br>
		<a href="/form" class="link">Signup</a></div>
	<ul>
		<li><a href="/about" class="link">About me</a></li>
		<li><a href="/contact" class="link">Contact Me</a></li>
		<li><a href="https://www.youtube.com/watch?v=vKziLmjSVB4" class="link">Watch FAN teaser here!!</a></li>
		<li><a href="/location" class="link">My Location</a></li>
		<li><a href="/show_books" class="link">Books for sale</a></li>
		
	</ul>	
	<img src="/static/image/optimus_blur.jpg" alt="optimus" width="50%" height="100%">
	<audio controls>
		<source src="/static/song/The Best of Mozart.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
		
	</audio>

</body>
</html> 