<html>
<head>
	<title>User page</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	<style type="text/css">
	</style>
	<li style><a href="/logout" class="link">Logout here</a></li>
</head>

<body>
	 <h1>Welcome,</h1> This is your own personalised homepage. Please upload your own photo and add details of your own.
	 <li><a href="/index" class="link">Here</a></li>
	 Key in your profile details
<h1> {{name}}</h1>

<img src={{imageAddress}}> 

<h4>Leave me a message</h4>

<p>
  You can leave me a message below, or see messages people have left me <a href="{{ url_for('messages') }}">here</a>
</p>

<div class="large-8 columns">
<form action="/submit_message" method="post">
  <input type="text" placeholder="Name" name="who">
  <textarea placeholder="Enter your message here" name="message" cols="50" rows="4"></textarea>
  <input type="submit" value="Submit">
</form>
</div>


</body>
</html> 